.windows-sidebar {
    --sidebar: rgb(225, 225, 225);
    --sidebar-foreground: rgb(38, 38, 38);
    --sidebar-primary: rgb(38, 38, 38);
    --sidebar-primary-foreground: rgb(250, 250, 250);
    --sidebar-accent: rgb(207, 207, 207);
    --sidebar-accent-foreground: rgb(23, 23, 23);
    --sidebar-border: rgb(195, 195, 195);
    --sidebar-ring: rgb(115, 115, 115);
}

.dark .windows-sidebar,
.windows-sidebar.dark {
    --sidebar: rgb(32, 32, 32);
    --sidebar-foreground: rgb(235, 235, 235);
    --sidebar-primary: rgb(229, 229, 229);
    --sidebar-primary-foreground: rgb(23, 23, 23);
    --sidebar-accent: rgb(50, 50, 50);
    --sidebar-accent-foreground: rgb(250, 250, 250);
    --sidebar-border: rgb(55, 55, 55);
    --sidebar-ring: rgb(163, 163, 163);
}